@charset "utf-8";

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$orange: #d00;
$cyan: #09d;
$red: #c30;
$black-ter: #444;

// Update Bulma's global variables
$grey-dark: $brown;
$grey: #c8c8c8;
$grey-lighter: #eee;
$primary: $red;
$link: $red;
$danger: $red;
$info: $cyan;
$text: $black-ter;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $grey-lighter;
$navbar-background-color: $grey-lighter;
$control-border-width: 1px;
$input-border-color: $grey;
$input-shadow: none;

$gap: 8px;
$section-padding: 2ex;


@import "../../node_modules/bulma/bulma.sass";
// @import "../../node_modules/bulma/sass/base/_all.sass";
// @import "../../node_modules/bulma/sass/elements/button.sass";
// @import "../../node_modules/bulma/sass/elements/container.sass";
// @import "../../node_modules/bulma/sass/elements/title.sass";
// @import "../../node_modules/bulma/sass/form/_all.sass";
// @import "../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../node_modules/bulma/sass/layout/hero.sass";
// @import "../../node_modules/bulma/sass/layout/section.sass";